<%= form_with model:book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_field :tag, class: 'form-control book_tag' %>
  </div>
  
  <!--評価の部分-->
  <% if book.id.nil? %>
  <div id="stars">
  <label>Rate</label>
  </div>
    <script>
      let elem = document.querySelector('#stars');
      let opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'book[star]'
      };
      window.raty(elem, opt);
    </script>
  <% else %>
  <div id="star_<%= book.id %>">
  <label>Rate</label>
  </div>
    <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#star_<%= book.id %>');
      if (elem == null) return;
      elem.innerHTML = "";
      let opt = {  
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= book.star %>",
        readOnly: true,
      };
      raty(elem, opt);
    });
    </script>
  <% end %>
  <!--評価の部分-->
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>